<html>
    <title>
        Text Detection
    </title>
    <body style="text-align: center;">
        <h1>Text Analysis and Detection</h1>
        <form method="POST">
            <textarea name="text" rows="12" cols="100" placeholder="enter your text..."></textarea>            
            <br><br>
            <input type="file" name="file">
            <button type="submit"> Analyze </button>
        </form>

        {% if predictions %}
            <p>{{predictions.pred}}</p>
            <p>written score: {{predictions.written}}, generated score: {{predictions.generated}}</p>
        {% endif %}
    </body>
</html>