<html>
    <title>
        Text Detection
    </title>
    <body style="text-align: center;">
        <h1>Text Analysis and Detection</h1>
        <form method="POST" enctype="multipart/form-data">
            <textarea name="text" rows="12" cols="100" placeholder="enter your text..."></textarea>            
            <br><br>
            <input type="file" name="file">
            <button type="submit" name="model" value="nb"> naive bayes </button>
            <button type="submit" name="model" value="svm"> svm </button>
        </form>

        {% if predictions %}
            <p>{{predictions.pred}}</p>
            {% if predictions.written and predictions.generated %}
            <p>written score: {{predictions.written}}, generated score: {{predictions.generated}}</p>
            {% endif %}
        {% endif %}

        {% if top_words.gen_top and top_words.wri_top %}
        <table>
            <tr>
            <th>generated top words</th>
            <th>written top words</th>
            </tr>
            <tr>
                <td>
                    {% for word, weight in top_words.gen_top.items() %}
                        <p>{{word}}{{weight}}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for word, weight in top_words.wri_top.items() %}
                        <p>{{word}}{{weight}}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        {% endif %}
    </body>
</html>