<html>
    <title>
        Text Detection
    </title>
    <body style="text-align: center;">
        <h1>Text Analysis and Detection</h1>
        <form method="POST" enctype="multipart/form-data">
            <textarea name="text" rows="12" cols="100" placeholder="enter your text..."></textarea>            
            <br><br>
            <input type="file" name="file">
            <button type="submit" name="model" value="nb"> naive bayes </button>
            <button type="submit" name="model" value="svm"> svm </button>
        </form>

        {% if predictions %}
            <p>{{predictions.pred}}</p>
            {% if predictions.written and predictions.generated %}
            <p>written score: {{predictions.written}}, generated score: {{predictions.generated}}</p>
            {% endif %}
        {% endif %}

        {% if top_words.gen_top and top_words.wri_top %}
            <p><h3>most important words in generated documents</h1>{{top_words.gen_top}}</p>
            <p><h3>most important words in written documents</h3>{{top_words.wri_top}}</p>
        {% endif %}
    </body>
</html>